body {
    background-color: aqua;
    color: black;
    font-size: 18px;
    font-family: Arial;
    line-height: normal;
    margin: 0 0 0;
    text-align: center;
}
input{
    border-radius: 10%;
    border: 10px 10px black;
    margin: 10px 10px;
}
#res{
    background-color: yellowgreen;
}
